#container {
  min-height: 100vh;
  background-image: url("../images/image6.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a0a0a0;
  flex-wrap: wrap-reverse;
  p {
    font-size: 40px;
  }
  h2 {
    font-size: 50px;
  }
}

#text-container {
  width: 30%;
  padding: 40px 10px;
  margin-right: auto;
  font-size: 30px;
}

#form-container {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  background: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(7.5px);
  min-height: 30vh;
  margin: 40px;
  padding: 30px;
  width: 50%;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      margin: 10px;
      width: fit-content;
    }
  }
}

.times {
  background: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(7.5px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;

  h4 {
    width: 100%;
  }

  .time-btn {
    background-color: #a0a0a0;
    border: #a0a0a0;
    padding: 10px;
  }
}

.display {
  display: none;
}

input,
DatePicker {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
