#contactContainer {
  min-height: 100vh;
  background-image: url("../images/image\ 5.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a0a0a0;
  height: 100%;
  flex-wrap: wrap-reverse;

  #textContainer {
    width: 50%;
    padding: 40px 0px; 

    h2 {
        font-family: 'Oxygen', sans-serif;
    }

    #iconContainer {
        padding: 40px 0;
    }
    #iconImgContainer {
      display: flex;
      justify-content: center;
    }
    img {
        margin: 20px; 
    }
  }

  #formContainer {
    width: 35%;
    background: rgba(217, 217, 217, 0.2);
    backdrop-filter: blur(7.5px);
    height: 80vh;
    margin:50px; 
    margin-left: 20px;
    padding: 20px 0px; 

    form {
      display: flex;
      flex-direction: column;
      height: 60%;

      input, textarea {
        background: rgba(217, 217, 217, 0.2);
        backdrop-filter: blur(7.5px);
        margin: 20px 60px;
        border: none;
        outline: none;
      }
      #messageInput {
        height: 60px;
      }
      label {
        align-self: flex-start;
        margin-left: 60px;
      }

      button {
        width: 100px;
        margin: 0;
        padding: 10px;
        align-self: center;
      }

    }
  }
}
