main {
  .hero-image {
    background-image: url("src/images/homePageHeroRotated.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .hero-text {
      text-align: center;
      left: 50%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;

      h1 {
        margin: 0;
        font-size: 80px;
      }
    }
  }

  .background-container {
    background-color: #121212;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 75px 75px 0px 75px;

    .image-container {
      background-image: url("src/images/redWhiteCocktail.avif");
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .text-container {
        color: #a0a0a0;
        width: 50%;
      }

      .btn-container {
        display: flex;
        flex-direction: column;
        button {
          margin: 10px;
        }
        .book-btn {
          color: #a0a0a0;
          background-color: #121212;
          border: none;
          padding: 15px;
          font-family: "Oxygen", sans-serif;
          font-size: 20px;
        }

        .menu-btn {
          color: #a0a0a0;
          background-color: #121212;
          border: none;
          padding: 15px;
          font-family: "Oxygen", sans-serif;
          font-size: 20px;
        }
      }
    }
  }
}
