@use "./navigation";
@use "./footer";
@use "./contact";
@use "./booking";
@use "./home";
@use "./menu";

body {
  margin: 0;
}

#root {
  max-width: 100vw;
  text-align: center;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1;
}
